---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$accent_color1: #ee6e73;
$accent_color2: #26a69a;

body {
  color: #777;
  font-size: 16px;
}

.container {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #333;
}

h2 {
  margin-bottom: 40px;
}

.hide-text {
  text-indent: -99999px;
  display: block;
}

.vert-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.btn {
  background-color: $accent_color2;
  color: #333;
}

.btn:hover {
  background-color: darken($accent_color2, 10%);
}

nav.main {
  background-color: $accent_color1;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;

  .brand-logo {
    background: url(../assets/logo_white.png) no-repeat;
    background-size: 40px;
    padding-left: 50px;
    background-position-y: 10px;
    margin-left: 20px;
  }

  ul a.active {
    background-color: rgba(0,0,0,0.1);
  }
}

.home {

  .logo {
    width: 200px;
    margin-bottom: 30px;
  }

  section#services, section#team {
    background: #e7e7e7;
    padding: 20px 0;
  }

  section#header {
    background: #333;
    text-align: center;

    h1 {
      color: #fff;
      margin: 0 0 40px 0;
    }
  }

  section#services {
    .services-list {
      margin-top: 40px;

      .service {
        opacity: 0;
        margin-bottom: 40px;

        h3 {
          font-size: 30px;
        }

        i.material-icons {
            background: $accent_color1;
            padding: 10px;
            border-radius: 50%;
            color: #fff;
            font-size: 40px;
        }
      }
    }
  }

  section#our-work {
    .work {

      .card {
        -webkit-transition: 0.1s ease-in-out;
        -moz-transition: 0.1s ease-in-out;
        -o-transition: 0.1s ease-in-out;
        transition: 0.1s ease-in-out;
        -webkit-transform: scale(0.95);
        -moz-transform: scale(0.95);
        -o-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);

        .card-image img {
          width: 100%;
        }
      }

      .card:hover {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }
    }
  }

  section#team {

    .team {
      opacity: 0;
      margin-bottom: 40px;

      .team-image {
        display: inline-block;
        position: relative;
        background: rgba($accent_color1, 0.6);
        padding: 3px;
        border-radius: 50%;

        img {
          border: 3px solid rgba($accent_color1, 0.6);
          border-radius: 50%;
          height: 160px;
          width: 160px;
          vertical-align: middle;
          -webkit-transition: all .35s ease-out;
          transition: all .35s ease-out;
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
        }

        img:hover {
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05);
        }
      }

      h3 {
        font-size: 22px;
        margin-bottom: 0;
      }

      p.title {
        margin-top: 0;
      }

      a.social {
        display: inline-block;
        color: $accent_color1;

        i {
          font-size: 40px;
          margin: 0 5px;
        }
      }

      a.social:hover {
        color: $accent_color2;
      }
    }
  }

  section#contact {
    background: #333;
    padding: 20px 0;

    h2 {
      color: #fff;
      margin-top: 0;
    }

    .select-wrapper span.caret {
      color: #fff;
    }

    textarea.materialize-textarea {
      min-height: 10rem;
    }

    button {
      margin-top: 40px;
    }
  }
}

@media (max-width: 992px) {
  nav.main .brand-logo {
    margin-left: 0;
  }
}
