---
layout: default
---

<div class="home">
  <section id="header" class="scrollspy">
    <div class="vert-middle">
      <img src="assets/logo_color.png" alt="Logo" class="logo">
      <h1>Bitfox</h1>
      <a href="#our-work" class="btn">See our work</a>
    </div>
  </section>

  <section id="about" class="scrollspy">
    <div class="container">
      <h2>About</h2>
      <p>{{site.data.about.text}}</p>
    </div>
  </section>

  <section id="services" class="scrollspy">
    <div class="container">
      <h2>Services</h2>
      <p>{{site.data.services.text}}</p>
      <div class="row services-list">
        {% for service in site.data.services.services %}
        <div class="service col s12 m12 l4">
          <i class="material-icons">{{ service.icon }}</i>
          <h3 class="center">{{ service.title }}</h3>
          <p class="light">{{ service.description }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="our-work" class="scrollspy">
    <div class="container">
      <h2>Our Work</h2>
      <div class="row">
        {% for work in site.data.work %}
        <div class="work col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{ work.image }}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{ work.name }}</span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{ work.name }}<i class="material-icons right">close</i></span>
              <p>{{ work.description }}</p>
              <a href="{{ work.link }}" target="_blank">{{ work.link_text }}</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="team" class="scrollspy">
    <div class="container">
      <h2>Team</h2>
      <div class="row">
        {% for member in site.data.team %}
        <div class="team col s12 m4 l4">
          <div class="team-image"><img src="{{ member.image }}"></div>
          <h3>{{ member.name }}</h3>
          <p class="title">{{ member.title }}</p>
          {% if member.linkedin %}
          <a href="{{ member.linkedin }}" class="social" target="_blank"><i class="fa fa-linkedin-square"></i><span class="hide-text">LinkedIn</span></a>
          {% endif %}
          {% if member.github %}
          <a href="{{ member.github }}" class="social" target="_blank"><i class="fa fa-github-square"></i><span class="hide-text">Github</span></a>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="contact" class="scrollspy">
    <div class="container">
      <h2>Contact Us</h2>
      <div class="row">
        <form>
          <div class="col s12 m6">
            <div class="form-field">
              <div class="input-field col s12">
                <label for="name">Your Name</label>
                <input id="name" name="name" type="text" class="validate">
              </div>
            </div>

            <div class="form-field">
              <div class="input-field col s12">
                <label for="email">Your Email</label>
                <input id="email" name="email" type="text" class="validate">
              </div>
            </div>

            <div class="form-field">
              <div class="input-field col s12">
                <select id="budget" name="budget">
                  <option value="" disabled selected>Your Budget</option>
                  <option value="0-5">$0 - $5,000</option>
                  <option value="5-10">$5,000 - $10,000</option>
                  <option value="10-15">$10,000 - $15,000</option>
                  <option value="15+">$15,000+</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col s12 m6">
            <div class="form-field">
              <div class="input-field col s12">
                <label for="project-details">Details about your project</label>
                <textarea id="project-details" name="project-details" class="materialize-textarea"></textarea>
              </div>
            </div>
          </div>

          <div class="col s12">
            <button type="submit" class="waves-effect waves-light btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </section>

</div>
